body{
   background-image:url(./134853-vertical-math-backgrounds-1920x1200.jpg);

}
.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    border: 5px solid black;
    width: auto;
    font-size: 34px;
}
button{
    border-radius:20px;
    font-size: 40px;
    background-color:rgb(145 144 157);
    width: 102px;
    height: 60px;
}
.calculator{
    background-color:rgb(173 171 193);
    border: 2px solid #3f3939 ;
    padding: 20px;
    border-radius: 20px;

    display: inline-block;
}
